@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
}
.content{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header, .footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
  width: 100vw;
}
.left-links, .right-links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
.footer{
  

  background-color: #ddd;
}
